<!-- Header -->
<header class="header">
  <div>
    <!-- Title -->
    <a href="/">
      <h1 class="title">Folio</h1>
    </a>
  </div>

  <ul class="menu">
    <li class="menu__item">
      <form class="menu__form" action="#">
        <label class="visually-hidden" for="search"> Search for books </label>
        <input
          class="menu__search"
          type="search"
          name="search"
          id="search"
          placeholder="Search for books..." />
        <button
          class="menu__searchBtn"
          type="submit"
          aria-label="Search for books"
          title="Search">
          <img src="/icons/icon-search.svg" alt="" width="25" height="25" />
        </button>
      </form>
    </li>
    <li class="menu__item">
      <img src="/icons/icon-message.svg" alt="" width="25" height="25" />
    </li>
    <li class="menu__item">
      <img src="/icons/icon-notifications.svg" alt="" width="25" height="25" />
    </li>
    <li class="menu__item">
      <img src="/icons/icon-profile.svg" alt="" width="20" height="20" />
    </li>
  </ul>
</header>
