
<header class="header">
  <div class="title-container">
    <!-- Title -->
    <a href="/">
      <h1 class="title">Folio</h1>
    </a>
  </div>

  <!-- Menu -->
  <ul class="menu">
    <li class="menu__item menu__search-container">
      <!-- Search bar -->
      <form class="menu__form" action="#">
        <label class="visually-hidden" for="search"> Search </label>
        <input
          class="menu__search"
          type="text"
          name="search"
          id="search"
          placeholder="Search..." />
        <button
          class="btn--search btn"
          type="submit"
          aria-label="Search"
          title="Search">
          <img src="/icons/icon-search.svg" alt="" width="25" height="25" />
        </button>
      </form>
    </li>
    <!-- Menu action items -->
    <ul class="menu__items-container">
      <li class="menu__item">
        <img src="/icons/icon-message.svg" alt="Open messages" width="25" height="25" />
      </li>
      <li class="menu__item">
        <img src="/icons/icon-notifications.svg" alt="Open notifications" width="25" height="25" />
      </li>
      <li class="menu__item">
        <img src="/icons/icon-settings-1.svg" alt="Open settings" width="27" height="27" />
      </li>
      <li class="menu__item menu__profile">
        <img  src="/icons/icon-profile.svg" alt="Open profile" width="20" height="20" />
      </li>
    </ul>
  </ul>
</header>
