<!-- Header -->
<header class="header">
  <div>
    <!-- Title -->
    <a href="/">
      <h1 class="title">Folio</h1>
    </a>
  </div>

  <ul class="menu">
    <li class="menu__item">
      <form class="menu__form" action="#">
        <label class="visually-hidden" for="search">
          Search
        </label>
        <input
          class="menu__search"
          type="search"
          name="search"
          id="search"
          placeholder="Search..."
        />
        <button
          class="menu__searchBtn"
          type="submit"
          aria-label="Search"
          title="Search"
        >
          <img src="" alt="Search button" width="40" height="40" />
        </button>
      </form>
    </li>
    <li class="menu__item">New Message</li>
    <li class="menu__item">Notifications</li>
    <li class="menu__item">Profile</li>
  </ul>

  
</header>
