<!-- Header -->
<header class="header">
  <div class="title-container">
    <!-- Title -->
    <a href="/">
      <h1 class="title">Folio</h1>
    </a>
  </div>

  <!-- TODO wrap search form in a div and other items in ul -->
  <ul class="menu">
    <li class="menu__item menu__search-container">
      <form class="menu__form" action="#">
        <label class="visually-hidden" for="search"> Search for books </label>
        <input
          class="menu__search"
          type="search"
          name="search"
          id="search"
          placeholder="Search for books..." />
        <button
          class="menu__searchBtn btn"
          type="submit"
          aria-label="Search for books"
          title="Search">
          <img src="/icons/icon-search.svg" alt="" width="25" height="25" />
        </button>
      </form>
    </li>
    <div class="menu__items-container">
      <li class="menu__item">
        <img src="/icons/icon-message.svg" alt="" width="25" height="25" />
      </li>
      <li class="menu__item">
        <img src="/icons/icon-notifications.svg" alt="" width="25" height="25" />
      </li>
      <li class="menu__item">
        <img src="/icons/icon-profile.svg" alt="" width="20" height="20" />
      </li>
    </div>
  </ul>
</header>
