<aside class="sidebar">
  <!-- Navigation -->
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav__item">
        <a href="/books" class="nav-link">Books</a>
      </li>
      <li class="nav__item">
        <a href="/genres" class="nav-link">Genres</a>
      </li>
      
      <li class="nav__item">
        <a href="/authors" class="nav-link">Authors</a>
      </li>
      <li class="nav__item">
        <a href="/publishers" class="nav-link">Publishers</a>
      </li>
      <li class="nav__item">
         Stores
      </li>
      <li class="nav__item">
        Settings
      </li>
      <li class="nav__item">
        <a href="/books/new" class="nav-link">Add Book</a>
      </li>
      <li class="nav__item">
        Log Out
      </li>
    </ul>
  </nav>
</aside>