<aside class="sidebar">
  <!-- Navigation -->
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <img src="/icons/icon-home.svg" alt="" width="25" height="25" />
        <a href="/" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <img src="/icons/icon-book.svg" alt="" width="25" height="25" />
        <a href="/books" class="nav__link">Books</a>
      </li>
      <li class="nav__item">
        <img src="/icons/icon-type.svg" alt="" width="30" height="30" />
        <a href="/genres" class="nav__link">Genres</a>
      </li>
      
      <li class="nav__item">
        <img src="/icons/icon-author.svg" alt="" width="25" height="25" />
        <a href="/authors" class="nav__link">Authors</a>
      </li>
      <li class="nav__item">
        <img src="/icons/icon-publish.svg" alt="" width="25" height="25" />
        <a href="/publishers" class="nav__link">Publishers</a>
      </li>
      <li class="nav__item">
        <img src="/icons/icon-location.svg" alt="" width="25" height="25" />
         Locations
      </li>
      <li class="nav__item">
        <img src="/icons/icon-settings.svg" alt="" width="25" height="25" />
        Settings
      </li>
      </ul>
      <ul class="nav__list">
      <li class="nav__item">
        <img src="/icons/icon-add-book.svg" alt="" width="25" height="25" />
        <a href="/books/new" class="nav__link">Add Book</a>
      </li>
      <li class="nav__item">
        <img src="/icons/icon-log-out.svg" alt="" width="25" height="25" />
        Log Out
      </li>
    </ul>
  </nav>
</aside>