<aside class="sidebar">
  <!-- Navigation -->
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link">
          <img
            src="/icons/icon-home.svg"
            alt=""
            width="25"
            height="25" />Home</a
        >
      </li>
      <li class="nav__item">
        <a href="/books" class="nav__link">
          <img
            src="/icons/icon-book.svg"
            alt=""
            width="25"
            height="25" />Books</a
        >
      </li>
      <li class="nav__item">
        <a href="/genres" class="nav__link">
          <img
            src="/icons/icon-type.svg"
            alt=""
            width="30"
            height="30" />Genres</a
        >
      </li>

      <li class="nav__item">
        <a href="/authors" class="nav__link">
          <img
            src="/icons/icon-author.svg"
            alt=""
            width="25"
            height="25" />Authors</a
        >
      </li>
      <li class="nav__item">
        <a href="/publishers" class="nav__link">
          <img
            src="/icons/icon-publish.svg"
            alt=""
            width="25"
            height="25" />Publishers</a
        >
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">
          <img src="/icons/icon-location.svg" alt="" width="25" height="25" />
          Locations
        </a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">
          <img src="/icons/icon-settings.svg" alt="" width="25" height="25" />
          Settings
        </a>
      </li>
    </ul>
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/books/new" class="nav__link">
          <img
            src="/icons/icon-add-book.svg"
            alt=""
            width="25"
            height="25" />Add Book</a
        >
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">
          <img src="/icons/icon-log-out.svg" alt="" width="25" height="25" />
          Log Out
        </a>
      </li>
    </ul>
  </nav>
</aside>
