/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ===================
   END OF RESET 
   =================== */

/* Declare custom fonts */
@font-face {
  font-family: 'Averia Serif Libre Bold';
  src: url("/fonts/averia-serif-libre/averiaseriflibre-bold-webfont.woff2") format("woff2"),
  url("/fonts/averia-serif-libre/averiaseriflibre-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Averia Serif Libre Regular';
  src: url("/fonts/averia-serif-libre/averiaseriflibre-regular-webfont.woff2") format("woff2"),
  url("/fonts/averia-serif-libre/averiaseriflibre-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Geist Mono Regular";
  src: url("/fonts/geist-mono/geistmono-variablefont_wght-webfont.woff2") format("woff2"),
  url("/fonts/geist-mono/geistmono-variablefont_wght-webfont.woff") format("woff");
  font-weight: 400;
}


:root {
  /* Core units
  ============== */
  --base-unit:        0.25rem;
  --base-half-unit:   calc(var(--base-unit) / 2);

  /* Typography
  ============== */
  /* Fonts */
  --ff-primary: "Averia Serif Libre Bold";
  --ff-secondary: "Geist Mono Regular";
  
  /* Font sizes */
  --font-base-unit: var(--base-unit);
  --fs-12: calc(var(--font-base-unit) * 3);
  --fs-16: calc(var(--font-base-unit) * 4);
  --fs-20: calc(var(--font-base-unit) * 5);
  --fs-24: calc(var(--font-base-unit) * 6);
  --fs-40: calc(var(--font-base-unit) * 10);
  --fs-48: calc(var(--font-base-unit) * 12);
  --fs-64: calc(var(--font-base-unit) * 16);
 
  /* Line heights */
  --lh-base-unit: 1;
  --lh-small:   calc(var(--lh-base-unit) * 1.1);
  --lh-medium:  calc(var(--lh-base-unit) * 1.3);
  --lh-large:   calc(var(--lh-base-unit) * 1.5);
  
  /* Font weights */
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
  --fw-extra-black: 950;

  /* Space
  ========= */
  --space-base-unit: var(--base-unit);
  --space-8:  calc(var(--space-base-unit) * 2);
  --space-12: calc(var(--space-base-unit) * 3);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);
  --space-40: calc(var(--space-base-unit) * 10);
  --space-48: calc(var(--space-base-unit) * 12);
  --space-64: calc(var(--space-base-unit) * 16);

  /* color
  ========= */
  --clr-primary-lighter:#484848;
  --clr-primary-light:  #303030;
  --clr-primary:        #8A2BE2;
  --clr-primary-dark:   #090909;
  --clr-primary-darker: #080808;
  --clr-secondary-lighter:   #FEFBF1;
  --clr-secondary-light:    #FEFBF0;
  --clr-secondary:          #FFFBEF;
  --clr-secondary-dark:     #FFEEBC;
  --clr-secondary-darker:   #FEE28F;
  --clr-gray-1: #FFFFFF;
  --clr-gray-2: #EEEEEE;
  --clr-gray-3: #D5D5D5;
  --clr-gray-4: #BBBBBB;
  --clr-gray-5: #A1A1A1;
  --clr-gray-6: #888888;
  --clr-gray-7: #6F6F6F;
  --clr-gray-8: #555555;
  --clr-gray-9: #3C3C3C;
  --clr-gray-10: #222222;

  --clr-white: #FFF;

  /* Border
  ========== */
  /* Border color */
  --bd-clr-lighter: var(--gray-2);
  --bd-clr-light:   var(--gray-3);
  --bd-clr:         var(--gray-5);
  --bd-clr-dark:    var(--gray-7);
  --bd-clr-darker:  var(--gray-9);
    
  /* Border radius */
  --radius-base-unit: 0.3125rem;
  --bd-radius-small:  calc(var(--radius-base-unit) * 1);
  --bd-radius-medium: calc(var(--radius-base-unit) * 2);
  --bd-radius-large:  calc(var(--radius-base-unit) * 8);
  --bd-radius-round: 50%;
}

body {
  padding-inline-end: var(--space-32, 2rem);
  font-family: var(--ff-secondary), monospace;
  display: grid;
  grid-template-columns: 300px 1fr;
  /* grid-template-rows: min-content; */
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  /* font-family: var(--ff-montserrat); */
  height: 100vh;
}

.header {
  grid-area: header;
  padding: var(--space-16, 1rem);
  display: flex;
  align-items: center;
}

.title-container {
  flex: 1;
}

.title {
  font-family: var(--ff-primary), serif;
  color: var(--clr-primary, rebeccapurple);
}

.menu {
  flex: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hide text */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.menu__search-container {
  flex: 1;
}

.menu__form {
  width: 100%;
  position: relative;
}

.menu__search {
  padding: var(--space-8, 0.5rem);
  padding-inline-start: var(--space-16, 1rem);
  border: 1px solid var(--clr-primary, rebeccapurple);
  border-radius: var(--bd-radius-large, 2.625rem);
  width: 100%;
 
}

.btn {
  border: transparent;
  cursor: pointer;
  background-color: transparent;
}

.menu__searchBtn {
  position: absolute;
  top: var(--space-8, 0.5rem);
  right: var(--space-12, 0.75rem);
}

.menu__items-container {
  flex: 2;
  display: flex;
  gap: var(--space-16, 1rem);
  justify-content: end;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--clr-primary, rebeccapurple);
  color: var(--clr-white, white);
  padding: var(--space-32, 2rem) var(--space-24, 1.5rem);
  border-radius: var(--bd-radius-small, 0.3125rem);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav__list > * {
  margin-block-end: var(--space-16, 1rem);
}

.nav__item {
  display: flex;
  gap: var(--space-8, 0.5rem);
  align-items: center;
}

.nav__link {
  color: var(--clr-white, white);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}



