/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ===================
   END OF RESET 
   =================== */

/* Declare custom fonts */
@font-face {
  font-family: 'Averia Serif Libre Bold';
  src:
    url('/fonts/averia-serif-libre/averiaseriflibre-bold-webfont.woff2')
      format('woff2'),
    url('/fonts/averia-serif-libre/averiaseriflibre-bold-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Averia Serif Libre Regular';
  src:
    url('/fonts/averia-serif-libre/averiaseriflibre-regular-webfont.woff2')
      format('woff2'),
    url('/fonts/averia-serif-libre/averiaseriflibre-regular-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Geist Mono Regular';
  src:
    url('/fonts/geist-mono/geistmono-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('/fonts/geist-mono/geistmono-variablefont_wght-webfont.woff')
      format('woff');
  font-weight: 400;
}

:root {
  /* Core units
  ============== */
  --base-unit: 0.25rem;
  --base-half-unit: calc(var(--base-unit) / 2);

  /* Typography
  ============== */
  /* Fonts */
  --ff-primary: 'Averia Serif Libre Bold';
  --ff-secondary: 'Geist Mono Regular';

  /* Font sizes */
  --font-base-unit: var(--base-unit);
  --fs-12: calc(var(--font-base-unit) * 3);
  --fs-16: calc(var(--font-base-unit) * 4);
  --fs-20: calc(var(--font-base-unit) * 5);
  --fs-24: calc(var(--font-base-unit) * 6);
  --fs-40: calc(var(--font-base-unit) * 10);
  --fs-48: calc(var(--font-base-unit) * 12);
  --fs-64: calc(var(--font-base-unit) * 16);

  /* Line heights */
  --lh-base-unit: 1;
  --lh-small: calc(var(--lh-base-unit) * 1.1);
  --lh-medium: calc(var(--lh-base-unit) * 1.3);
  --lh-large: calc(var(--lh-base-unit) * 1.5);

  /* Font weights */
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
  --fw-extra-black: 950;

  /* Space
  ========= */
  --space-base-unit: var(--base-unit);
  --space-8: calc(var(--space-base-unit) * 2);
  --space-12: calc(var(--space-base-unit) * 3);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);
  --space-40: calc(var(--space-base-unit) * 10);
  --space-48: calc(var(--space-base-unit) * 12);
  --space-64: calc(var(--space-base-unit) * 16);

  /* color
  ========= */
  --clr-primary-lighter: #484848;
  --clr-primary-light: #8152e0;
  --clr-primary: #8a2be2;
  --clr-primary-dark: #4b04a4;
  --clr-primary-darker: #080808;
  --clr-secondary-lighter: #fefbf1;
  --clr-secondary-light: #fefbf0;
  --clr-secondary: #fffbef;
  --clr-secondary-dark: #ffeebc;
  --clr-secondary-darker: #fee28f;
  --clr-gray-1: #ffffff;
  --clr-gray-2: #eeeeee;
  --clr-gray-3: #d5d5d5;
  --clr-gray-4: #bbbbbb;
  --clr-gray-5: #a1a1a1;
  --clr-gray-6: #888888;
  --clr-gray-7: #6f6f6f;
  --clr-gray-8: #555555;
  --clr-gray-9: #3c3c3c;
  --clr-gray-10: #222222;

  --clr-white: #fff;
  --clr-black: #000;
  --clr-red: #DC143C;

  /* Border
  ========== */
  /* Border color */
  --bd-clr-lighter: var(--gray-2);
  --bd-clr-light: var(--gray-3);
  --bd-clr: var(--gray-5);
  --bd-clr-dark: var(--gray-7);
  --bd-clr-darker: var(--gray-9);

  /* Border radius */
  --radius-base-unit: 0.3125rem;
  --bd-radius-small: calc(var(--radius-base-unit) * 1);
  --bd-radius-medium: calc(var(--radius-base-unit) * 2);
  --bd-radius-large: calc(var(--radius-base-unit) * 8);
  --bd-radius-round: 50%;

  /* Box shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  font-family: var(--ff-secondary), monospace;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  height: 100svh;
}

.header {
  grid-area: header;
  padding: var(--space-16, 1rem);
  padding-inline-end: var(--space-32, 2rem);
  display: flex;
  align-items: center;
  background-color: var(--clr-gray-2, whitesmoke);
}

.title-container {
  flex: 1;
}

.title {
  font-family: var(--ff-primary), serif;
  color: var(--clr-primary, rebeccapurple);
}

.menu {
  flex: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hide text */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.menu__search-container {
  flex: 1;
}

.menu__form {
  width: 100%;
  position: relative;
}

.menu__search {
  padding: var(--space-8, 0.5rem);
  padding-inline-start: var(--space-16, 1rem);
  border: 1px solid var(--clr-primary, rebeccapurple);
  border-radius: var(--bd-radius-large, 2.625rem);
  width: 100%;
}

.btn {
  border: transparent;
  cursor: pointer;
  background-color: transparent;
}

.btn--primary {
  color: var(--clr-white, white);
  padding: var(--space-8, 0.5rem);
  border-radius: var(--bd-radius-small, 00.3125rem);
  font-weight: var(--fw-bold, 700);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-8, 0.5rem);
}

.btn--search {
  position: absolute;
  top: 20%;
  right: 5%;
}

.menu__items-container {
  flex: 2;
  display: flex;
  gap: var(--space-16, 1rem);
  justify-content: end;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--clr-primary, rebeccapurple);
  padding: var(--space-32, 2rem) var(--space-24, 1.5rem);
  border-radius: var(--bd-radius-small, 0.3125rem);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav__link {
  color: var(--clr-white, white);
  font-weight: var(--fw-bold, 700);
  width: 100%;
  display: flex;
  gap: var(--space-8, 0.5rem);
  align-items: center;
  padding: var(--space-8, 0.5rem);
  border-radius: var(--bd-radius-small, 0.3125rem);
}

.nav__link:hover,
.nav__link:active {
  background-color: var(--clr-primary-dark, indigo);
}

.main {
  grid-area: main;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: var(--space-16, 1rem);
}

.dashboard section {
  display: flex;
  flex-direction: column;
  gap: var(--space-16, 1rem);
}

.stats {
  padding: var(--space-16, 1rem);
  background: var(--clr-gray-2, whitesmoke);
}

.stats__card {
  background: var(--clr-white, white);
}

.sub-title {
  font-family: var(--ff-primary), serif;
}

.stats__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-16, 1rem);
}

.stats__card {
  flex: 1;
  padding: var(--space-16, 1rem);
  border-radius: var(--bd-radius-small, 0.3125rem);
  text-align: center;
}

.stats__value {
  color: var(--clr-primary, rebeccapurple);
  font-size: var(--fs-24, 1.5rem);
  font-weight: var(--fw-bold, 700);
}

.stats__label {
  text-transform: uppercase;
}

.featured-books,
.inventory {
  display: flex;
  gap: var(--space-16, 1rem);
  padding: var(--space-16, 1rem);
}

.featured-books > section,
.inventory > section {
  flex: 1;
  background-color: var(--clr-gray-2, whitesmoke);
  padding: var(--space-16, 1rem);
  border-radius: var(--bd-radius-small, 0.3125rem);
}

.featured-books ol {
  padding-inline-start: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-8, 0.5rem);
}

.trending-books__title,
.top-sellers__title {
  font-weight: var(--fw-bold, 700);
  color: var(--clr-primary, rebeccapurple);
}

.inventory > .stock {
  flex: 1;
}

.inventory ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-8, 0.5rem);
}

.stock__item,
.warehouse__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory > .warehouse {
  flex: 3;
}

.warehouse__item > p {
  flex: 1;
}

.warehouse__location {
  font-weight: var(--fw-bold, 700);
}

.category {
  min-height: 0;
}

.category__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-gray-2, whitesmoke);
  padding: var(--space-16, 1rem);
}

.category__controls > * {
  flex: 1;
}

.category__actions {
  display: flex;
  align-items: center;
  gap: var(--space-12, 0.75rem);
  width: 100%;
}

.category__form {
  position: relative;
  flex: 2;
}

.category__search {
  padding: var(--space-8, 0.5rem);
  padding-inline-start: var(--space-16, 1rem);
  border: 1px solid transparent;
  border-radius: var(--bd-radius-large, 2.625rem);
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-8, 0.5rem);
  background-color: var(--clr-primary, rebeccapurple);
  padding: var(--space-8, 0.5rem);
  color: var(--clr-white, white);
  font-weight: var(--fw-bold, 700);
}

.link--add {
  flex: 1;
  border-radius: var(--bd-radius-large, 2.625rem);
}

.link--update {
  border-radius: var(--bd-radius-small, 00.3125rem);
}

.link--back {
  align-self: start;
  border-radius: var(--bd-radius-small, 00.3125rem);
}

.link--sub-title:hover {
  color: var(--clr-primary, rebeccapurple)
}

.gallery {
  padding: var(--space-32, 2rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-32, 2rem);
  overflow-y: auto;
  height: 81svh;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--space-24, 1.5rem);
}

.card {
  box-shadow: var(
    --box-shadow-1,
    rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px
  );
  padding: var(--space-24, 1.5rem);
  border-radius: var(--bd-radius-small, 0.3125rem);
  display: grid;
  gap: var(--space-24, 1.5rem);
}

.card--book {
  grid-template-rows: 1fr auto;
  min-height: 350px;
}

.book__link {
  color: var(--clr-black, black);
  display: grid;
  gap: var(--space-8, 0.5rem);
}

.book__title {
  color: var(--clr-primary, rebeccapurple);
}

.book__summary {
  color: var(--clr-gray-7, dimgray);
}

.book__form {
  text-align: center;
}

.status {
  padding: var(--space-16, 1rem);
  font-weight: var(--fw-bold, 700);
}

.btn--delete {
  background-color: var(--clr-primary-dark, indigo);
}

.card--small {
  grid-template-rows: 150px 1fr auto;
}

.img-container {
  width: 100%;
  height: 150px;
  border: 3px solid var(--clr-primary-light, mediumpurple);
  border-radius: var(--bd-radius-small, 0.3125rem);
}

.btn-group {
  display: flex;
  gap: var(--space-16, 1rem);
  justify-content: center;
}



.editor,
.book__details {
  padding: var(--space-32, 2rem);
  display: grid;
  gap: var(--space-16, 1rem);
}

.form {
  padding: var(--space-32, 2rem);
  border: 2px solid var(--clr-primary, rebeccapurple);
  border-radius: var(--bd-radius-small, 00.3125rem);
  width: 80%;
  display: grid;
  gap: var(--space-24, 1.5rem);
}

.form--book {
  height: 75svh;
  overflow-y: auto;
}

.form__control {
  width: 100%;
}

.form__label,
.form__input,
.form__textarea,
.btn--add {
  width: 60%;
}

.form__label {
  display: block;
  margin-block-end: var(--space-8, 0.5rem);
  font-weight: var(--fw-bold, 700);
}

.form__label--hint {
  color: var(--clr-gray-7, dimgray);
}

.form__input,
.form__textarea {
  display: block;
  padding: var(--space-8, 0.5rem);
  border: 1px solid var(--clr-black, black);
  border-radius: var(--bd-radius-small, 00.3125rem);
}

.btn--add {
  background-color: var(--clr-primary, rebeccapurple);
  margin-block-start: var(--space-24, 1.5rem);
}

.card--details {
  width: 60%;
  height: 75svh;
  overflow-y: auto;
}

.book__summary--details {
  color: var(--clr-black, black)
}

.errors {
  padding: var(--space-32, 2rem);
}

.errors__msg {
  color: var(--clr-red, red);
  font-weight: var(--fw-bold, 700);
}

.footer {
  grid-area: footer;
  padding: var(--space-8, 0.5rem);
  font-weight: var(--fw-bold, 700);
  text-align: center;
  background-color: var(--clr-gray-2, whitesmoke);
}
