/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ===================
   END OF RESET 
   =================== */

/* Declare custom fonts */
@font-face {
  font-family: 'Averia Serif Libre Bold';
  src: url("/fonts/averia-serif-libre/averiaseriflibre-bold-webfont.woff2") format("woff2"),
  url("/fonts/averia-serif-libre/averiaseriflibre-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Averia Serif Libre Regular';
  src: url("/fonts/averia-serif-libre/averiaseriflibre-regular-webfont.woff2") format("woff2"),
  url("/fonts/averia-serif-libre/averiaseriflibre-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Geist Mono Regular";
  src: url("/fonts/geist-mono/geist-mono-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}


:root {
  /* Core units
  ============== */
  --base-unit:        0.25rem;
  --base-half-unit:   calc(var(--base-unit) / 2);

  /* Typography
  ============== */
  /* Fonts */
  --ff-primary:      sans-serif;
  --ff-secondary:    serif;
  
  /* Font sizes */
  --font-base-unit: var(--base-unit);
  --fs-12: calc(var(--font-base-unit) * 3);
  --fs-16: calc(var(--font-base-unit) * 4);
  --fs-20: calc(var(--font-base-unit) * 5);
  --fs-24: calc(var(--font-base-unit) * 6);
  --fs-40: calc(var(--font-base-unit) * 10);
  --fs-48: calc(var(--font-base-unit) * 12);
  --fs-64: calc(var(--font-base-unit) * 16);
 
  /* Line heights */
  --lh-base-unit: 1;
  --lh-small:   calc(var(--lh-base-unit) * 1.1);
  --lh-medium:  calc(var(--lh-base-unit) * 1.3);
  --lh-large:   calc(var(--lh-base-unit) * 1.5);
  
  /* Font weights */
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
  --fw-extra-black: 950;

  /* Space
  ========= */
  --space-base-unit: var(--base-unit);
  --space-8:  calc(var(--space-base-unit) * 2);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);
  --space-40: calc(var(--space-base-unit) * 10);
  --space-48: calc(var(--space-base-unit) * 12);
  --space-64: calc(var(--space-base-unit) * 16);

  /* color
  ========= */
  --clr-primary-lighter:#484848;
  --clr-primary-light:  #303030;
  --clr-primary:        #222222;
  --clr-primary-dark:   #090909;
  --clr-primary-darker: #080808;
  --clr-secondary-lighter:   #FEFBF1;
  --clr-secondary-light:    #FEFBF0;
  --clr-secondary:          #FFFBEF;
  --clr-secondary-dark:     #FFEEBC;
  --clr-secondary-darker:   #FEE28F;
  --clr-gray-1: #FFFFFF;
  --clr-gray-2: #EEEEEE;
  --clr-gray-3: #D5D5D5;
  --clr-gray-4: #BBBBBB;
  --clr-gray-5: #A1A1A1;
  --clr-gray-6: #888888;
  --clr-gray-7: #6F6F6F;
  --clr-gray-8: #555555;
  --clr-gray-9: #3C3C3C;
  --clr-gray-10: #222222;

  /* Border
  ========== */
  /* Border color */
  --bd-clr-lighter: var(--gray-2);
  --bd-clr-light:   var(--gray-3);
  --bd-clr:         var(--gray-5);
  --bd-clr-dark:    var(--gray-7);
  --bd-clr-darker:  var(--gray-9);
    
  /* Border radius */
  --radius-base-unit: 0.3125rem;
  --bd-radius-small:  calc(var(--radius-base-unit) * 1);
  --bd-radius-medium: calc(var(--radius-base-unit) * 2);
  --bd-radius-large:  calc(var(--radius-base-unit) * 2);
  --bd-radius-round: 50%;
}

